/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.image {
  height: 70px;
  margin-top: 12px;
}

.welcome {
  margin-top: 37px;
}

.back {
  margin-top: 25px;
}
.card {
  margin-left: 100px;
  height: 200px;
}

.calendar,
.sign,
.youtube,
.command,
.meetings,
.cards {
  padding-bottom: 10px;
}

.page-footer {
  width: 1800px;
  margin-left: -250px;
  margin-bottom: 0px;
}

.page-footer2 {
  width: 1800px;
  margin-left: -250px;
  margin-bottom: 0px;
}
